## photos.py & photos_detail.py
# "The flickr developer guide: https://www.flickr.com/services/developer/"

# FLICKR_API_KEY =
# FLICKR_API_SECRET =


## deviantart_scratcher.py & google_scratcher.py
# "Custom Search JSON API requires the use of an API key. An API key is a way
# to identify your client to Google."
# https://developers.google.com/custom-search/v1/introduction

# GOOGLE_API_KEYS = key1, key2

# "The identifier of an engine created using the Programmable Search Engine
# Control Panel [https://programmablesearchengine.google.com/about/]"
# https://developers.google.com/custom-search/v1/reference/rest/v1/Search

# PSE_KEY =


## vimeo_scratcher.py
# "Before we set you loose on the API, we ask that you provide a little
# information about your app. An app in this sense can be a full-featured
# mobile application, a dynamic web page, or a three-line script. If it's
# making API calls, it's an app."
# https://developer.vimeo.com/api/guides/start#register-your-app

# VIMEO_ACCESS_TOKEN =
# VIMEO_CLIENT_ID =


## youtube_scratcher.py
# "Every request must either specify an API key (with the key parameter) [...].
# Your API key is available in the Developer Console's API Access pane
# [https://console.developers.google.com/] for your project."
# https://developers.google.com/youtube/v3/docs

# YOUTUBE_API_KEY =
