# This file must be copied to .env and the appropriate variables populated.


## Europeana

# Europeana Search API Documentation:
# https://europeana.atlassian.net/wiki/spaces/EF/pages/2385739812/Search+API+Documentation#Request

# EUROPEANA_API_KEY =


# GCS (Google Custom Search)

# https://developers.google.com/custom-search/v1/introduction
# "Custom Search JSON API requires the use of an API key. An API key is a way
# to identify your client to Google."
#
# https://googleapis.github.io/google-api-python-client/docs/epy/index.html
# "string, key obtained from https://code.google.com/apis/console"

# GCS_DEVELOPER_KEY =

# https://developers.google.com/custom-search/v1/reference/rest/v1/Search
# "The identifier of an engine created using the Programmable Search Engine
# Control Panel [https://programmablesearchengine.google.com/about/]"
#
# https://googleapis.github.io/google-api-python-client/docs/dyn/customsearch_v1.cse.html
# "string, The Programmable Search Engine ID to use for this request."

# GCS_CX =


# GitHub

# https://docs.github.com/en/rest/using-the-rest-api/rate-limits-for-the-rest-api#primary-rate-limit-for-authenticated-users
#
# https://docs.github.com/en/rest/authentication/authenticating-to-the-rest-api

# GH_TOKEN =
