[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flickrapi = "*"
numpy = "*"
pandas = "*"
requests = "*"
internetarchive = "*"
urllib3 = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
