[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flickrapi = "*"
internetarchive = "*"
jupyterlab = ">=3.6.7"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
Pyarrow = "*"
python-dotenv = "*"
requests = ">=2.31.0"
seaborn = "*"
urllib3 = ">=1.26.18"
wordcloud = "*"

[dev-packages]
black = "*"
"black[jupyter]" = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
