name: Test scripts' help

on:
  push:
  workflow_dispatch:

jobs:
  job:
    runs-on: ubuntu-latest

    steps:

    # https://github.com/actions/setup-python
    - name: Install Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install pipenv
      run: |
        pip install --upgrade pip
        pip install pipenv

    # https://github.com/actions/checkout
    - name: Checkout quantifying
      uses: actions/checkout@v4

    - name: Install Python dependencies
      run: |
        pipenv sync --system

    - name: Test scripts' help
      run: |
        ./dev/test_scripts_help.sh
